.errorPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 10px;
}

.errorPage h1 {
  font-size: 6rem;
  font-weight: bold;
}
.errorPage h2 {
  font-size: 4rem;
  font-weight: bold;
}

.links404 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.errorPage a {
  background-color: var(--darkRedColor);
  color: var(--whiteColor);
  padding: 10px;
  border-radius: 5px;
}
