.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
}

.title {
  font-size: 3.5rem;
}

.subTitle {
  font-weight: bold;
  margin-top: 5px;
}

form {
  width: 100%;
  max-width: 25rem;
  margin-top: 1.5rem;
  padding: 15px 10px;
  background-color: var(--yellowColor);
  color: var(--darkGrayColor);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form h1 {
  text-align: center;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
}

input {
  width: 100%;
  height: 2rem;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
}

.inputsContainers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--darkBlueColor);
  color: var(--whiteColor);
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 0;
}

h3 {
  margin-top: 10px;
}
h3 a {
  color: var(--purpleColor);
}
