.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
}

.title {
  font-size: 3.5rem;
}

.subTitle {
  font-weight: bold;
  margin-top: 5px;
}

form {
  width: 100%;
  max-width: 29rem;
  margin-top: 1.5rem;
  padding: 20px 15px;
  background: linear-gradient(
    to right,
    var(--yellowColor),
    var(--darkYellowColor)
  );
  color: var(--darkGrayColor);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form h1 {
  text-align: center;
}

#formSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
}

input {
  width: 100%;
  height: 2.8rem;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
}

.inputsContainers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkBlueColor);
  margin-top: 10px;
  border-radius: 5px;
  color: var(--whiteColor);
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 0;
  transition: all 0.9s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: var(--grayColor);
}

h3 {
  margin-top: 10px;
}
h3 a {
  color: var(--purpleColor);
}
