.navContainer {
  width: 100%;
  height: 4rem;
  background-color: var(--yellowColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.mainArea {
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--grayColor);
  font-weight: bold;
  font-size: 2rem;
}

.linksBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.aLink {
  color: var(--grayColor);
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 0.5px solid #000;
  transition: all 0.9 ease;
}

aLink:hover {
  word-spacing: 5px;
}
