.navContainer {
  width: 100%;
  height: 4rem;
  background-color: var(--yellowColor);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.aLink {
  color: var(--grayColor);
  font-weight: bold;
  font-size: 2rem;
}
