.navContainer {
  width: 100%;
  height: 4rem;
  background-color: #f3bc08;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.aLink {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}
