@import "./nav.css";
@import "./index.css";
@import "./404.css";
@import "./erroMessage.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  background-color: #121212;
  color: #fff;
}

a {
  text-decoration: none;
}
