@import "./nav.css";
@import "./index.css";
@import "./loginAndRegister.css";
@import "./footer.css";
@import "./404.css";
@import "./messages.css";

:root {
  --yellowColor: #ffed00;
  --darkYellowColor: #cabd05c7;
  --grayColor: #3d474e;
  --darkBlueColor: #192230;
  --darkGrayColor: #2c2f38;
  --whiteColor: #fff;
  --purpleColor: #6001f8;
  --redColor: #ff0000;
  --darkRedColor: #9e0000;
  --greenColor: #05f54d;
  --darkGreenColor: #057226;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  height: 100vh;
  background: linear-gradient(var(--darkGrayColor), var(--darkBlueColor));
  display: flex;
  flex-direction: column;
  color: #fff;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
}
