<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head", {title: "404 - Not Found"}) %>
  <body>
    <%- include("includes/nav") %>
    <div class="errorPage">
      <h1>404</h1>
      <h2>Not Found!</h2>
      <h3>Your visited page not found. You may go home page.</h3>
      <%- include("includes/messages") %>
      <div class="links404">
        <a href="/">Back to home</a>
        <a href="/dashboard">Back to dashboard</a>
      </div>
    </div>
  </body>
</html>
