<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head", {title: "404 - Not founded"}) %>
  <body>
    <%- include("includes/nav") %>
    <div class="errorPage">
      <h1>404</h1>
      <h2>Not found!</h2>
      <h3>Page not founded!</h3>
      <%- include("includes/messages") %>
      <a href="/">Back to home</a>
    </div>
  </body>
</html>
