<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head", {title: "Home Page"}) %>
  <body>
    <%- include("includes/nav") %>
    <h1>Welcome to the Agenda App!</h1>
    <h2>Here you can manage everything you want!</h2>
  </body>
</html>
