<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>

  <body>
    <%- include("includes/nav") %>
    <main class="mainContainer">
      <h1 class="title">Agenda</h1>
      <p class="subtitle">Todos os seus contatos em um unico lugar!</p>

      <table>
        <thead>
          <tr class="thLine">
            <th scope="col" class="thCols">Name</th>
            <th scope="col" class="thCols">LastName</th>
            <th scope="col" class="thCols">Phone</th>
            <th scope="col" class="thCols">Email</th>
          </tr>
        </thead>
        <tr class="cols">
          <td class="lines">Kauã</td>
          <td class="lines">Souza</td>
          <td class="lines">67 999888777</td>
          <td class="lines">test@gmail.com</td>
        </tr>

        <tr class="cols">
          <td class="lines">Kauã</td>
          <td class="lines">Souza</td>
          <td class="lines">67 999888777</td>
          <td class="lines">test@gmail.com</td>
        </tr>

        <tr class="cols">
          <td class="lines">Kauã</td>
          <td class="lines">Souza</td>
          <td class="lines">67 999888777</td>
          <td class="lines">test@gmail.com</td>
        </tr>
      </table>
    </main>
    <footer><%- include("includes/footer") %></footer>
  </body>
</html>
