<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", {title: "Login Page"}) %>
  </head>

  <body>
    <%- include("includes/nav") %>
    <main class="mainContainer">
      <h1 class="title">Login</h1>
      <h2 class="subTitle">Please log in to continue!</h2>
  
      <form action="/signIn" method="post">
        <h1>Welcome Again!</h1>
        <div class="inputsContainers">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name">
        </div>
        <div class="inputsContainers">
          <label for="password">password:</label>
          <input type="password" name="password" id="password">
        </div>
        <button type="submit">SignIn</button>
      </form>
      <h3>Don’t have an account? <a href="/register">Sign up.</a></h3>
    </main>


    <footer><%- include("includes/footer") %></footer>
  </body>
</html>
